<html>
{% extends "bootstrap/base.html" %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.lang('zh-CN')}}
{% endblock %}

{% block head %}

<head>
    <meta charset="UTF-8">
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
<link rel="shortcut icon" href="{{ url_for('static', filename='CN_V2EX.svg') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{#    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/moment-with-locales.min.js') }}"></script>
    <script>moment.locale('zh-cn');</script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/base.js') }}"></script>
 <!--   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <title>V2EX{% block title %}{% endblock %}</title>
</head>
{% endblock %}

<body>
{% block navbar %}

<nav class="navbar navbar-expand navbar-light">
  <div class="container">
      <a class="navbar-brand" href="/">V2EX</a>
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
        <form class="form-inline mr-auto mt-2 mt-lg-0" id="nav-search">
          <input id="nav-search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        </form>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
          </li>
            {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ current_user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">记事本</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">时间轴</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">设置</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">登出</a>
          </li>
            {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">登录</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.register') }}">注册</a>
          </li>
            {% endif %}
        </ul>
  </div>
</nav>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
<br />
{% block content %}
<div id="wrap">
    <div class="container" id="main">
        <div class="row">
            {% block page_content %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
<footer id="footer">
   
    <div id="bottom">
        <div class="content">
       <div class="inner">
            <div class="sep10"></div>
            <strong>
                <a href="#" class="dark" target="_self">关于</a>  
                &nbsp; 
                <span class="snow">.</span> 
                &nbsp;
                <a href="#" class="dark" target="_self">我们的愿景</a>
                &nbsp;
                <span class="snow">.</span> 
                &nbsp;
                <a href="#" class="dark" target="_self">API</a>
                &nbsp;
                <span class="snow">.</span>
                 &nbsp;
                 <a href="#" class="dark" target="_self">{{  online_user | length }} 人在线</a>
                 &nbsp;
                 <a href="#" class="dark" target="_self">最高记录: {{ g.max_online_num }}</a>
                 &nbsp;
            </strong>

            <div class="sep20"></div>
            旨在为Python程序员提供一个自由、开放的社区
            <div class="sep10"></div>
            <p>Designed by Guoweikuang</p>
       </div> 
    </div>
    </div>
</footer>

{% endblock %}

<!--
<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
-->
{% block footer_ext %}{% endblock %}
</body>
</html>