{% extends 'base_sidebar.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block right %}
{% include 'auth/panel.html' %}
{% endblock %}


{% block left %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-10">
                    <p style="margin-bottom: 10px"><a href="/">V2EX</a> › <a href="{{ url_for('main.index') }}">{{ topic.node.title }}</a></p>
                    <h1 style="font-size: 24px;">{{ topic.title }}</h1>
                    <p style="color: #999;margin-bottom: 0px;font-size: smaller">

                        <span class="badge badge-light active" id="{{ topic.id }}" value="{{ current_user.id }}" name="like"> <i class="fa fa-thumbs-o-up">  {{ g.like }}</i></span> ·
                        <span class="badge badge-light active" id="{{ topic.id }}" value="{{ current_user.id }}" name="unlike"><i class="fa fa-thumbs-o-down">  {{ g.unlike }}</i></span> ·
                        <a href="{{ url_for('auth.info', uid=topic.user_id) }}">
                            {{ topic.user.username }}</a> · <script>document.write(moment("{{ topic.create_time }}").fromNow());</script> · {{ topic.click_num }} 次点击
                        {% if current_user.id == topic.user_id %}
                         ·
{#					    <button type="button" class="btn btn-info btn-sm">#}
{#                         <a class="label-success label" href="{{ url_for('main.topic_append', tid = topic.id) }}">追加内容</a>#}
{#                        </button>#}
                            <span class="badge badge-info"><a class="label-success label" href="{{ url_for('main.topic_append', tid = topic.id) }}">追加内容</a></span>
                             ·
{#                            <button type="button" class="btn btn-success btn-sm">#}
{#					    <a class="label-warning label" href="{{ url_for('main.topic_edit', tid=topic.id) }}">编辑</a>#}
{#                            </button>#}
                            <span class="badge badge-success">
                                <a class="label-warning label" href="{{ url_for('main.topic_edit', tid=topic.id) }}">编辑</a>
                            </span>

                    {% endif %}
                    </p>

                </div>
                <div class="col-1" style="margin-left: 30px">
                        <a href="{{ url_for('auth.info',uid=topic.user_id) }}"> <img class="rounded" src="{{ topic.user.avatar_url }}" width="73" height="73" /></a>
                </div>

            </div>
        </li>
    	<div class="panel-body">
    		{{ topic.content_html | safe}}
        </div>

        <div class="list-group-item list-appendix-item panel-body">
            {{ form.csrf_token }}
            {{ wtf.quick_form(form) }}
		<div class="previewer">
		</div>
	    </div>
    </ul>
    {% if topic.appends %}
        <ul class="list-group" id="append">
            {% for a in topic.extract_appends() %}
            {% if not a.deleted %}
            <div class="subtle">
                <p class="appendix-meta">
                    第 {{ loop.index }} 条附言 ·  {{ a.create_time | format_time }}
                </p>
                <div class="sep5"></div>
                {{a.content_html | safe}}
            </div>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}