{% extends 'base_sidebar.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
创建话题
{% endblock %}



{% block head %}
{{ super() }}
    <script>
        function choiceNode(node) {
            $("#new-post-node").val(node);
        };
    </script>
{% endblock %}

{% block left %}
<div class="card" id="new-post">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p><a href="/" style="color: #03c8ff !important;">V2EX</a> › 创建新主题</p>
        </li>
        <li class="list-group-item">
            <p style="color: #000011;">主题标题</p>
        </li>
        <li class="list-group-item" style="padding: 0px;padding-top: 3px">
            <textarea class="msl" rows="1" maxlength="120" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空" autofocus="autofocus" name="new-post-title" id="new-post-title"></textarea>
        </li>
        <li class="list-group-item">
            <p style="color: #000011;">正文</p>
        </li>
        <li class="list-group-item" style="padding: 0px;">
            <textarea class="CodeMirror-scroll" rows="10" maxlength="500" id="new-post-content" name="new-post-centent" autofocus="autofocus"></textarea>
        </li>
        <li class="list-group-item">
            <div class="form-group" style="margin-bottom: 0px;">
                <select class="form-control form-control-sm" id="new-post-node">
                    {% for n in nodes %}
                    <option value="{{ n.id }}">{{ n.title }} / {{ n.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <small>最热节点 </small>
            {% for h_n in hot_nodes %}
            <a href="javascript:choiceNode('{{ h_n.id }}')" id="choice-node"> {{ h_n.name }}</a>
            {% endfor %}
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-dark btn-sm" id="view-content">预览主题</button>
            <button type="submit" class="btn btn-info btn-sm float-right" id="pull-post">发表主题</button>
        </li>
        <li class="list-group-item" id="view-post">

        </li>
    </ul>
</div>
<script>
    $('#view-content').click(function () {
        var content = document.getElementById("new-post-content").value;
        $.get('{{ url_for('main.create_topic') }}',{content:content}, function (data) {
            $('#view-post').html(data);
        });

    });
    $('#pull-post').click(function () {
        var title = document.getElementById("new-post-title").value;
        var content = document.getElementById("new-post-content").value;
        var node_id = document.getElementById("new-post-node").value;
        var data = {
            'title':title,
            'content':content,
            'node_id':node_id
        };
        $.ajax({
            type:"POST",
            url:"{{ url_for('main.create_topic') }}",
            data:data,
            dataType: "json",
            success: function(data) {
                var result = JSON.stringify(data)['result'];
                window.location.href="{{ url_for('main.index') }}";
            },
            error: function(xhr, type) {
            }
        });
    });

</script>
{% endblock %}

{% block right %}
    <div class="card" style="font-size: 14px">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="padding: 10px">
                发帖提示
            </li>
            <li class="list-group-item" style="padding: 10px;">
                <ul style="margin: 0px;padding-left: 22px">
                    <li style="padding-bottom: 10px;">
                        主题标题<br />
                        请在标题中描述内容要点。如果一件事情在标题的长度内就已经可以说清楚，那就没有必要写正文了。
                    </li>
                    <li style="padding-bottom: 10px;">
                        正文<br />
                        可以在正文中为你要发布的主题添加更多细节。V2EX 支持 GitHub Flavored Markdown 文本标记语法。<br />
                        在正式提交之前，你可以点击本页面左下角的“预览主题”来查看 Markdown 正文的实际渲染效果。
                    </li>
                    <li style="padding-bottom: 10px;">
                        选择节点<br />
                        在最后，请为你的主题选择一个节点。恰当的归类会让你发布的信息更加有用。<br />
                        你可以在主题发布后 300 秒内，对标题或者正文进行编辑。同时，在 300 秒内，你可以重新为主题选择节点。
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" style="font-size: 14px">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="padding: 10px">
                社区指导原则
            </li>
            <li class="list-group-item" style="padding: 10px;">
                <ul style="margin: 0px;padding-left: 22px">
                    <li style="padding-bottom: 10px;">
                        尊重原创<br />
                        请不要在 V2EX 发布任何盗版下载链接，包括软件、音乐、电影等等。V2EX 是创意工作者的社区，我们尊重原创。
                    </li>
                    <li style="padding-bottom: 10px;">
                        友好互助<br />
                        保持对陌生人的友善。用知识去帮助别人。
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}