<div class="panel panel-default">
    <div class="panel-heading title-breadcrumb">
        <ul class="nav nav-pills">
        {% for nid, title in nodes %}
            {% if title == "技术" %}
            <li role="presentation" class="active"><a href="{{ url_for('main.node_view', nid=nid) }}">{{ title }}</a>
            </li>
            {% else %}
            <li role="presentation"><a href="{{ url_for('main.node_view', nid=nid) }}">{{ title }}</a>
            </li>
            {% endif %}

        {% endfor %}
        </ul>    

        {% if username %}
        {{ username }} 的话题
        {% endif %}

        {% if node_title %}
            当前节点为 {{ node_title }}，该节点下总共有 {{ node.topics.count() }} 个话题.
        {% endif %}
    </div>
    

    {% if not topics %}
    <div class="panel-body">
		<div class="alert alert-info">
			没有新话题，去添加吧！！
		</div>
    </div>
    {% else %}
    <ul class="list-group">
        {% for t in topics %}
            <div class="list-group-item list-topic-item" id="{{ t.id }}">
                <div class="row">
                    <a href="{{ url_for('auth.info', uid = t.user_id) }}" class="col-md-1 col-xs-2 col-sm-2">
                        <img title="{{t.user.username}}" class="avatar-middle" src="{{ t.user.avatar_url }}"></a>
                
                    <div class="col-xs-9 col-md-10 col-sm-9">
                        <h3 class="list-post-title"><a href="{{ url_for('main.topic_view', tid=t.id) }}">{{t.title}}</a></h3>
                        <p class="list-meta">
                            <span class="label label-default list-meta-node"><a href="{{ url_for('main.topic_view', tid=t.id) }}">{{ t.node.title }}</a></span>
                            <span class="list-count"> {{t.click_num }} 点击数</span>
                            <span class="list-time">{{ moment(t.create_time, local=True).fromNow(refresh=True) }}</span>
                            <span class="list-username"><a href="{{ url_for('auth.info', uid=t.user_id) }}">{{ t.user.username }}</a></span>
                            <span class="list-reply-count-xs visible-xs">{{ t.reply_num }}</span>
                        </p>
                    </div>
                    <div class="col-xs-1 col-sm-1">
						<span class="badge pull-right list-reply-count hidden-xs">{{t.reply_num }}</span>
					</div>
                </div>


            </div>
        {% endfor %}

    <div class="panel-footer">
        {{ pagination.links }}
	</div>
    {% endif %}
    </ul>
</div>