<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <ul class="nav" id="post-type">
                {% for nid, t in nodes %}
                <li class="nav-item">
                    <a href="{{ url_for('main.node_view', nid=nid) }}" class="btn btn-{% if t=="技术" %}dark{% else %}light{% endif %} 
                    btn-sm" tabindex="-1" role="button" style="margin-right: 10px;{% if t=="技术" %}color: #ffffff !important;{% endif %}">{{ t }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item" id="node-nav">
            <ul class="nav" id="node">
                {% for nid, t in nodes %}
                <li class="nav-item">
                    <a class="nav-link" id="node-link" href="{{ url_for('main.node_view', nid=nid)}}">{{ t }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% for p in topics %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1"><a href="url_for('auth.info', uid=p.user_id)"><img src="{{ p.user.avatar_url }}" height="48px" width="48px" class="rounded" /></a>  </div>
                <div class="col-md-10">
                    <span class="post-title"><a href="{{ url_for('main.topic_view', tid=p.id) }}">{{ p.title }}</a></span><br />
                    <div class="sep5"></div>
                    <span class="post-info">
                        <div class="post-node"><a href="#" id="index-post-node">{{ p.node.title }}</a></div>&nbsp • &nbsp
                        <strong style="color:#4d5256;"><a href="{{ url_for('main.topic_view', tid=p.id) }}"> {{ p.user.username }}</a></strong>
                        &nbsp • &nbsp<script>document.write(moment("{{ p.create_time }}").fromNow());</script>

                    </span>
                </div>
                <div class="col-md-1"><span class="badge badge-pill badge-info">{{ p.reply_num }}</span></div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="card-footer">
        更多新主题
    </div>

    <div class="panel-footer">
        {{ pagination.links }}
        </div>

</div>
<br />