{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base_sidebar.html' %}
{% block right %}
{% include 'auth/panel.html' %}
{% endblock %}
{% block left %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-10">
                    <p style="margin-bottom: 10px"><a href="/">V2EX</a> › <a href="{{ url_for('main.index') }}">{{ topic.node.title }}</a></p>
                    <h1 style="font-size: 24px;">{{ topic.title }}</h1>
                    <p style="color: #999;margin-bottom: 0px;font-size: smaller">
                        <a href="{{ url_for('auth.info', uid=topic.user_id) }}">
                            {{ topic.user.username }}</a> · <script>document.write(moment("{{ topic.create_time }}").fromNow());</script> · {{ topic.click_num }} 次点击
                        {% if current_user.id == topic.user_id %}
                         ·
					    <button type="button" class="btn btn-info btn-sm">
                         <a class="label-success label" href="{{ url_for('main.topic_append', tid = topic.id) }}">追加内容</a>
                        </button>
                             ·
                            <button type="button" class="btn btn-success btn-sm">
					    <a class="label-warning label" href="{{ url_for('main.topic_edit', tid=topic.id) }}">编辑</a>
                            </button>
                    {% endif %}
                    </p>

                </div>
                <div class="col-1" style="margin-left: 30px">
                        <a href="{{ url_for('auth.info',uid=topic.user_id) }}"> <img class="rounded" src="{{ topic.user.avatar_url }}" width="73" height="73" /></a>
                </div>

            </div>
        </li>
        <li class="list-group-item" id="post-content">
            {{ topic.content_html | safe }}
        </li>
    </ul>
    {% if topic.appends %}
        <ul class="list-group" id="append">
            {% for a in topic.extract_appends() %}
            {% if not a.deleted %}
            <div class="subtle">
                <p class="appendix-meta">
                    第 {{ loop.index }} 条附言 ·  {{ a.create_time | format_time }}
                </p>
                <div class="sep5"></div>
                {{a.content_html | safe}}
            </div>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% if topic.reply_num %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-size: 14px;color: #999;">
            <p>{{ topic.reply_num }} 回复&nbsp |&nbsp 最后回复时间 {{ topic.create_time }}</p>
        </li>
        {% for c in comments %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1"><a href="{{ url_for('auth.info',uid=c.user.id) }}"><img src="{{ c.user.avatar_url }}" height="48px" width="48px" class="rounded"></a></div>
                <div class="col-md-10">
                    <span class="post-info">
                        <strong style="color:#4d5256;"><a href="{{ url_for('auth.info',uid=c.user.id) }}"> {{ c.user.username }}</a></strong>
                        &nbsp • &nbsp<script>document.write(moment("{{ c.create_time }}").fromNow());</script>
                         <span class="badge badge-secondary pull-right fuck"><a href="#create_reply" data-user="{{c.user.username}}" class="reply label-info label pull-right reply-btn">回复</a></span>
                        <span class="badge badge-secondary pull-right no"><a href="#create_reply" class="reply">{{ loop.index }}</a></span>
                    </span>
                   
                    <br />
                    <span style="font-size: 14px">{{ c.content_html | safe }}</span>

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% else %}
<div class="card" id="no-comment">
    <p class="text-center" style="margin-top: 8px;margin-bottom: 8px;">目前尚无回复</p>
</div>
{% endif %}


<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p style="font-size: 14px;margin-bottom: 0px">添加一条新回复</p>
        </li>
        <li class="list-group-item">
            <div class="form-group" style="margin-bottom: 0px">
                <div class="panel-body">
        {{ form.csrf_token }}
        {{ wtf.quick_form(form) }}
        <small class="float-right" style="margin-top: 8px">请尽量让自己的回复能够对别人有帮助</small>
    </div>
            </div>
        </li>
        <li class="list-group-item">
            <p class="text-right"><a href="/">← V2EX</a> </p>
        </li>
    </ul>
</div>

<br />
<script src="{{ url_for('static', filename='js/previewer.js') }}"></script>
<script src="{{ url_for('static', filename='js/mention.js') }}"></script>
{% endblock %}