{% extends "bootstrap/base.html" %}
{% block title %}V2EX-Flask{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class ="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ 首页 }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.hot') }}">{{ 热点话题 }}</a></li>
                <li><a href="{{ url_for('main.all_nodes') }}">{{ 所有节点 }}</a></li>
            </ul>

            {% if current_user.is_authenticated %}
            <div class="navbar-form navbar-right">
                <a class="btn btn-info" id="new-btn" href="{{ url_for('main.create') }}">{{ 新话题 }}</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
