{% extends 'base_sidebar.html' %}
{% block right %}
{% include 'auth/panel.html' %}
{% endblock %}

{% block left %}
    <div class="card">
    <li class="list-group-item" id="node-nav">
    <a href="/">V2EX</a>  › 未读消息
    </li>
    {% if unread %}
    {% for n in unread %}
    <li class="list-group-item">
        <div class="row">
            <a href="{{ url_for('auth.info', uid = n.sender_id) }}" class="col-xs-1"><img title="{{ current_user.username }}" class="avatar-middle" src="{{current_user.avatar_url}}"></a>

                <div class="col-xs-10">
                    <div class="reply-author">
                        <a href="{{ url_for('auth.info', uid = n.sender_id) }}">{{current_user.username}}</a>
                        <span class="list-time">{{n.create_time | format_time }}</span>
                    </div>
                    <div class="reply-content">
                        {% if n.comment_id %}
                        在评论
                        <a href="{{ url_for('main.topic_view', tid = n.topic_id) }}#comment-{{n.comment_id}}" > {{ n.topic.title}}</a>
                        {% elif n.append_id %}
                        在追加
                        <a href="{{ url_for('main.topic_view', tid = n.topic_id) }}#append-{{n.append_id}}" > {{n.topic.title}}</a>
                        {% else %}
                        在话题
                        <a href="{{ url_for('main.topic_view', tid= n.topic_id) }}" > {{n.topic.title}}</a>
                        {% endif %}
                         中提到你
                    </div>
                </div>
        </div>
    </li>
    {% endfor %}
    {% endif %}
    </div>
        <div class="card">
    <li class="list-group-item" id="node-nav">
    <a href="/">V2EX</a>  › 已读消息
    </li>
            {% if read %}
    {% for n in read %}
    <li class="list-group-item">
        <div class="row">
           <div class="col-md-1"> <a href="{{ url_for('auth.info', uid = n.sender_id) }}"><img title="{{ current_user.username }}" height="48px" width="48px" class="rounded" src="{{current_user.avatar_url}}"></a></div>

                <div class="col-md-10">
                    <div class="reply-author">
                        <a href="{{ url_for('auth.info', uid = n.sender_id) }}">{{current_user.username}}</a>
                        <span class="list-time">{{n.create_time | format_time }}</span>
                    </div>
                    <div class="reply-content">
                        {% if n.comment_id %}
                        在评论
                        <a href="{{ url_for('main.topic_view', tid = n.topic_id) }}#comment-{{n.comment_id}}" > {{ n.topic.title}}</a>
                        {% elif n.append_id %}
                        在追加
                        <a href="{{ url_for('main.topic_view', tid = n.topic_id) }}#append-{{n.append_id}}" > {{n.topic.title}}</a>
                        {% else %}
                        在话题
                        <a href="{{ url_for('main.topic_view', tid= n.topic_id) }}" > {{n.topic.title}}</a>
                        {% endif %}
                         中提到你
                    </div>
                </div>
        </div>
    </li>
    {% endfor %}
    {% endif %}

            {% if not unread and not read %}
        <div class="panel-heading">
        <p class="panel-title">
            没有消息
        </p>
    </div>
    {% endif %}
</div>



{% endblock %}
