{% if current_user.is_authenticated %}
<div class="card" id="user-card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border-bottom: solid 1px #ccc;padding-bottom: 0px;">
            <div class="row">
                <div class="col-3">
                    <a href="#"><img class="rounded" src="{{ current_user.genrate_gravatar_url(size=256) }}" height="48px" width="48px" /></a>
                </div>
                <div class="col-9" style="color: #4d5256; font-size: 18px;padding-top: 12px">
                    <strong><a href="#"> {{ current_user.username }}</a></strong>
                </div>
            </div>
            <div class="row" style="padding-top: 8px; font-size: 15px;">
                <div class="col-4" style="border-right: solid 1px #ccc;padding-bottom: 3.5px;">
                    <p class="text-center" style="color: #385f8a;">0</p>
                    <p class="text-center" style="color: #cccccc;">节点收藏</p>
                </div>
                <div class="col-4" style="border-right: solid 1px #ccc;padding-bottom: 4px;">
                    <p class="text-center" style="color: #385f8a;">0</p>
                    <p class="text-center" style="color: #cccccc;">主题收藏</p>
                </div>
                <div class="col-4">
                    <p class="text-center" style="color: #385f8a;">0</p>
                    <p class="text-center" style="color: #cccccc;">特别关注</p>
                </div>
            </div>
        </li>
        <li class="list-group-item" style="border-bottom: solid 1px #ccc;padding-top: 6px;padding-bottom: 6px;">
            <img src="{{ url_for('static',filename='img/flat_compose.png') }}" width="32" height="32" />
            <a href="{{ url_for('main.create_topic') }}" style="padding-top: 4px; padding-left: 8px;">创作新主题</a>
        </li>
        <li class="list-group-item">
            <div class="row">
                {% if current_user.is_authenticated %}
                    {% if current_user.extract_unread_notify() %}
                    <div class="col-6" style="padding-top: 6px;">
                        <a href="{{ url_for('auth.notify') }}">{{ current_user.extract_unread_notify() }}条未读提醒</a>
                    </div>
                        <div class="col-6">
                    <p class="text-right"> <a href="#" id="money"> 00 <img src="{{ url_for('static',filename='img/silver@2x.png') }}" height="16" width="16" /> 00
                    <img src="{{ url_for('static',filename='img/bronze@2x.png') }}" height="16" width="16" /> </a></p>
                </div>
                    {% else %}
                        <div class="col-6" style="padding-top: 6px;">
                    <a href="{{ url_for('auth.notify') }}">0条未读提醒</a>
                        </div>
                        <div class="col-6">
                    <p class="text-right"> <a href="#" id="money"> 00 <img src="{{ url_for('static',filename='img/silver@2x.png') }}" height="16" width="16" /> 00
                    <img src="{{ url_for('static',filename='img/bronze@2x.png') }}" height="16" width="16" /> </a></p>
                </div>
                    {%  endif %}

                {%  endif %}

            </div>
        </li>
    </ul>
</div>

{% else %}
<div class="card" id="user-card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>V2EX = way to explore<br /></strong>
            <p>这只是一个仿站</p>
        </li>
        <li class="list-group-item">
            <div class="mx-auto" style="width: 120px;">
            <button type="button" class="btn btn-sm" style="margin-left: 8px"><a href="{{ url_for('auth.register') }}">现在注册</a> </button>
            <p>已有账户？<a href="{{ url_for('auth.login') }}">登录</a> </p>
            </div>
        </li>
    </ul>
</div>
{% endif %}